<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>Walaa Idress</h1>
    <p>A Cybersecurity Student at Bahrain Polytechnic</p>

    <h2>Technologies:</h2>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Js</li>
        <li>Java</li>
        <li>Python</li>
    </ul>

    <h2>The type of job(s) you want in the future</h2>
    <ul>
        <li>Penteration Tester</li>
        <li>Security Engineer</li>
        <li>Software Engineer</li>
    </ul>

    <a href="/" class="aLink">Home</a>
</body>
</html>